<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">I have been a Quality Assurance and Support consultant for most of my professional life; latest more than nine years, I have been a part of the eazyBI team in Customer support and QA and recently joined Software development. I have extensive experience in systems analysis, testing, and project and product management.</p>
    <p class="mb-0">After working hours, I spend time with my family. As often as possible, we head out in nature - hiking, biking, diving, and recently surfing.</p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social_links">
      <a href="https://github.com/laumacirule"><%= fa_icon "github" %></a>
      <a href="https://www.instagram.com/lauma_c_/"><%= fa_icon "instagram" %></a>
      <a href="https://twitter.com/_Lauma_"><%= fa_icon "twitter" %></a>
      <a href="https://www.facebook.com/lauma.cirule"><%= fa_icon "facebook" %></a>
    </ol>
  </div>
</aside>
