<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= nav_helper "nav-link", "span" %>
    <%= login_helper "py-2 d-none d-md-inline-block" %>
  </div>
</nav>
