<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    <%= link_to "Back to All Portfolio Items", portfolios_path %>
    </p><%= copyright_generator %></p>
  </div>
</footer>
