<h1 class="cover-heading">A little bit about me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "LaumaC.jpg", width: 260, alt: "Profile image" %>
  </div>
  <div class="col-md-8">
    <p>I have been a Quality Assurance and Support consultant for most of my professional life; latest more than nine years, I have been a part of the eazyBI team in Customer support and QA and recently joined Software development. I have extensive experience in systems analysis, testing, and project and product management.</p>
    <p>I enjoy being a customer advocate in the company - ensuring customer needs are heard and assisting them with solving complex problems.</p>
    <p>After working hours, I spend time with my family. As often as possible, we head out in nature - hiking, biking, diving, and recently surfing.</p>
  </div>
</div>

